.toggle {
	margin: 0 0 1.5rem;
	box-sizing: border-box;
	font-size: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

.toggle input {
	width: 0;
	height: 0;
	position: absolute;
	left: -9999px;
}

.toggle input:checked + label {
	background-color: #4B9DEA;
	color: #FFF;
	box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
	border-color: #4B9DEA;
	z-index: 1;
}
.toggle input + label:first-of-type {
	border-radius: 6px 0 0 6px;
	border-right: none;
	border-right-color: currentcolor;
}
.toggle input + label {
	margin: 0;
	padding: .75rem 2rem;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	border: solid 1px #DDD;
	border-top-color: rgb(221, 221, 221);
	border-right-color: rgb(221, 221, 221);
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: rgb(221, 221, 221);
	border-left-color: rgb(221, 221, 221);
	background-color: #FFF;
	font-size: 1rem;
	line-height: 140%;
	font-weight: 600;
	text-align: center;
	box-shadow: 0 0 0 rgba(255, 255, 255, 0);
	transition: border-color .15s ease-out, color .25s ease-out, background-color .15s ease-out, box-shadow .15s ease-out;
	flex: 0 0 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

body{
	color: #fff;
	background: #63738a;
	font-family: 'Roboto', sans-serif;
}
.form-control{
	height: 40px;
	box-shadow: none;
	color: #969fa4;
}
.form-control:focus{
	border-color: #5cb85c;
}
.form-control, .btn{        
    border-radius: 3px;
}
.signup-form{
	width: 600px;
	margin: 0 auto;
	padding: 0px 0;
}
.signup-form h2{
	color: #636363;
    margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.signup-form h2:before, .signup-form h2:after{
	content: "";
	height: 2px;
	width: 30%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.signup-form h2:before{
	left: 0;
}
.signup-form h2:after{
	right: 0;
}
.signup-form .hint-text{
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form form{
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form .form-group{
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
	margin-top: 3px;
}
.signup-form .btn{        
    font-size: 16px;
    font-weight: bold;		
	min-width: 140px;
    outline: none !important;
}
.signup-form .row div:first-child{
	padding-right: 10px;
}
.signup-form .row div:last-child{
	padding-left: 10px;
}    	
.signup-form a{
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover{
	text-decoration: none;
}
.signup-form form a{
	color: #5cb85c;
	text-decoration: none;
}	
.signup-form form a:hover{
	text-decoration: underline;
}

th.borrar {
	width: 10%;
}

th.fecha, th.tipo {
	width: 45%;
	text-align: center;
}

td.fecha, td.tipo, td.borrar {
	text-align: center;
}

td.borrar {
	color: red;
}